a {
  color: #050A1B;
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='tel'] {
  outline: none;
  width: 100%;
  border-radius: 3px;
  border: 1px solid white;
  padding: 12px 10px;
  font-size: 18px;
  line-height: 22px;
  background: rgba(255, 255, 255, 0.85);

  @media (max-width: 768px) {
    font-size: 14px;
  }

  &::placeholder {
    color: #272733;
  }
}

body {
  font-family: LatoRegular;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
}

h1, h2, .h1, .h2 {
  font-family: LatoBold;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 48px;
  line-height: 58px;

  @media (max-width: 1024px) {
    font-size: 44px;
  }
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 48px;
  }
  @media (max-width: 475px) {
    font-size: 23px;
    line-height: 30px;
  }
}

h2 {
  font-size: 36px;
  line-height: 43px;

  @media (max-width: 1024px) {
    font-size: 32px;
  }
  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 475px) {
    font-size: 20px;
    line-height: 32px;
  }
}

.wrapper {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;

  @media (max-width: 1170px) {
    padding: 0 20px;
  }
}

.btn {
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 12px 31px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  width: 183px;
  transition: .3s all;
  cursor: pointer;

  @media (max-width: 475px) {
    width: 100%;
  }

  &.white {
    color: #2A2B30;
    border-color: #6F6D7B;
    background: white;

    &:hover {
      background: #6F6D7B;
      color: white;
    }
    &:active {
      background: #535360;
      color: white;
    }
  }
  &.blue {
    color: white;
    border-color: white;
    background: #3E9CDC;

    &:hover {
      background: #53b0f3;
    }
    &:active {
      background: #1479b6;
    }
  }
}

.blue-color {
  color: #3E9CDC;
}