.winners {
  padding: 200px 0;

  .tabs {
    height: 500px;
    transition: .3s all;
    overflow: hidden;

    &.hide {
      height: 0;
    }
    .tab-labels {
      display: flex;
      &__label {
        padding: 10px 20px;
        background: #6F6D7B;
        color: white;
        cursor: pointer;
        border: 1px solid white;
        transition: .3s all;

        &.active {
          background: #3E9CDC;
        }
      }
    }

    .tab-elems {
      &__elem {
        height: 0;
        opacity: 0;
        transition: opacity .3s, width .3s, padding 0s;
        width: 50%;

        .tab-row {
          display: flex;
        }

        &.active {
          height: auto;
          opacity: 1;
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
}