.winners {
  .tabs {
    background-repeat: repeat;
    padding: 100px 0;

    .wrapper-tabs {
      transition: .3s all;
      overflow: hidden;
      //max-height: 999999px;
      &.hide {
        //max-height: 0;
      }
    }

    .h1 {
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-bottom: 3px solid #b3b3b6;
      margin-bottom: 20px;

      &.hide {
        &:after {
          transform: rotate(180deg);
        }
      }

      &:after {
        content: "";
        background: url(../../src/images/arr-select.svg);
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        background-size: 100%;
        transform: rotate(0);
        transition: .3s all;
      }
    }

    .tab-labels {
      display: flex;
      justify-content: center;
      &__label {
        padding: 10px 20px;
        background: #6F6D7B;
        color: white;
        cursor: pointer;
        border: 1px solid white;
        transition: .3s all;
        text-align: center;

        &.active {
          background: #3E9CDC;
        }
      }
    }

    .tab-elems {
      &__elem {
        height: 0;
        opacity: 0;
        transition: opacity .3s, width .3s, transform .3s;
        transform: translateX(200px);

        &.active {
          height: auto;
          opacity: 1;
          width: 100%;
          transform: translateX(0);
        }
      }
    }

    .tabs-titles {
      font-weight: bold;
    }

    .tab-row, .tabs-titles {
      display: flex;
      border-bottom: 1px solid #6F6D7B;

      .email-winners, .prize, .tabs-titles__title {
        width: 50%;
        padding: 20px 10px;
      }
    }

    &.bg-image {
      .tabs-titles, .tab-elems {
        @media (max-width: 991px) {
          color: white;
          background-image: url(../../src/images/pattern2.png);
        }
        @media (max-width: 767px) {
          background-image: url(../../src/images/pattern3.png);
        }
      }
    }

    @media (max-width: 991px) {
      .tabs-titles, .tab-elems {
        background-color: #dfdfdf;
      }
    }
    @media (max-width: 767px) {
      .tabs-titles, .tab-elems {
        color: white;
        background-color: rgba(16, 16, 29, 0.9);
      }
    }
  }
}